* {
  all: unset;
  font-size: 14px;
}

.topbar {
  background-color: #282828;
}

.sidestuff {
  color: #ebdbb2;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.ws-sq {
  border-radius: 4px;

  background-color: transparent;
  margin: 4px;

  &.visible {
    background-color: #666;
  }

  &.active {
    background-color: #666;
    margin: 0px;
  }

  &.current {
    background-color: #FFF59D;
    margin: 0px;
  }
}

.workspaces {
  margin-right: 0;
}

.space {
  min-width: 700px;
}

.tray {
  padding: 4px;
  color: white;
}

.time {
  padding: 0px;
  margin: 0px;
}

.separator {
  margin: 0px 6px;
}